.count-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  > div {
    width: 25%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
}

.count-chart-area {
  width: 100%;
  display: flex;
  margin-top: 30px;
  
  > div {
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;

    > div {
      border: 2px solid #eee;
    }
  }
}