.layout-collapse-demo {
  height: 100vh;
  border: 1px solid var(--color-border);
  background: var(--color-fill-2);
}

.arco-layout-sider .logo {
  height: 32px;
  margin: 12px 8px;
  background: rgba(255, 255, 255, 0.2);
}

.arco-layout-sider-light .logo {
  background: var(--color-fill-2);
}

.arco-layout-footer,
.arco-layout-content {
  color: var(--color-white);
  text-align: center;
  font-stretch: condensed;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arco-layout-footer {
  color: var(--color-text-2);
  height: 48px;
  line-height: 48px;
  font-weight: 400;
  font-size: 14px;
}

.arco-layout-content {
  background: var(--color-bg-3);
  color: var(--color-text-2);
  font-weight: 400;
  font-size: 14px;
}

.arco-layout-header {
  height: 64px;
  line-height: 64px;
  background: var(--color-bg-3);
}

.arco-layout-header .trigger {
  margin-left: 20px;
}

.logo-area {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
}

.logo-area img {
  margin-right: 20px;   
}

.logo-area span {
  font-size: 18px;
  font-weight: bold;   
}

.content {
  font-stretch: condensed;
  font-size: 16px;
  display: flex;
  text-align: left;
  box-sizing: border-box;
  padding: 15px;
}