.overview-page {
  width: 100%;
  &-title {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  &-count-info {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.overview-page-recommend-info {
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  > div {
    width: 25%;
    box-sizing: border-box;
    margin: 0 5px;
  }
}
